build/
contracts/build/
node_modules/
artifacts/
abi/@openzeppelin
abi/contracts/assets/Archive
abi/contracts/interface

.prettierrc.json

*.log
*.swp

.remixcache/
.settings/
.env
.env.local

.vscode/
.deps/

cache
typechain-types

flattened
privateKey.txt
.DS_Store